.btn, .btn-large {
  border-radius: 20px;
}

.account {
  border-radius: 50px;
}

#collegium {
  margin-left: 5%;
}
#hashtagCard{
  height: 250px;
}
#firstRounded{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
nav {
  background-color: #2F3136;
}

.search {
  padding: 6px 15px 6px 30px;
  margin: 3px;
  background-color: white;
}

.rounded {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

#thread-logo {
  margin-left: 2%;
}

#welcome {
  margin-top: -2%;
}


#mainCard {
  margin-top: -105%;
}

header {
  position: relative;
  z-index: 1;
  height: 450px;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(223.46deg, #00E0FF -4.53%, #D700F9 134.16%);
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.overlay {
  width: 100%;
}

.h100 {
  height: 100%;
}

.header {
  margin: 5px;
  text-rendering: optimizeLegibility;
}
.parallax-container {
     height: 300px;
   }

.thread {
  background: linear-gradient(90deg, #006996 1.12%, #3A96AD 59.57%, #83C4B4 100%);
  /* animation: pastelRainbow 10s ease infinite;
  background-size: 400% 400%; */
  height: 400px;
  z-index: -1 !important;
}

.creators {
  background: linear-gradient(0deg, #253944, #253944);
  height: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  animation: pastelRainbow 10s ease infinite;
}

.card, .card-panel {
  border-radius: 15px;
}

#textbox {
  height: 400px;
}

.editable {
  border-style: none;
  border-color: Transparent;
  overflow: auto;
}

html {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  background-color: #FAFAFA;
}

#modal1 {
  min-height: 55%;
  overflow-y: hidden;
  background-color: #FFF5F1;
}

.homePanels {
  height: 75%;
}

.typewriter h4 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  /* margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  */ letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blinking-cursor .5s step-end infinite;
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

/* The typewriter cursor effect */

@keyframes blinking-cursor {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange;
  }
}

.threadConent {
  text-indent: 1em;
  text-align: justify;
}

.commentCard {
  /* border-top: none;
  border-bottom-width: 1px;
  border-color: grey;
  border-style: dashed; */
  padding: 5px;
  padding-left: 5px;
}

.offWhite {
  background-color: #FAFAFA;
}

.collapseMove {
  margin-top: 5%;
}
